html, body {
  background-color: black;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#container {
  width: 0px;
  height: 0px;
  position: relative;
}

form > * {
  display: block;
}
