#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#container {
  width: 0px;
  height: 0px;
  position: relative;
  perspective: 1000px;
}

.fetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: orange;
}

form > * {
  display: block;
}
